@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200&display=swap');

.nav-home-text {
	font-family: 'Cairo', sans-serif;
	font-size: 25px;
}

html {
	scroll-padding-top: 70px;
	scroll-behavior: smooth; /* height of sticky header */
  }


body {
	background-color: #F8F8FF;
}

.bgCustom {
	background-color: #3B4252;
}

.copyright {
	color: rgb(219, 219, 216);
}

.bgCustom-navbar {
	background-color: #272c35;
	box-shadow: 10px 10px 10px 10px;
}


.btn-outline-primary:hover{
	background-color: #547BC0;
	color: whitesmoke;
	border-color: #839dc9;
}

.btn-outline-primary {
	color: #547BC0;
	border-color: #839dc9;
}

.card {
	position: relative;
	top: 0;
	transition: top ease-in-out 0.5s;
  }

.card:hover {
	top: -5px;
  }

  .nav-link {
	  color: aliceblue;
  }
  
  .nav-link:hover{
	  color: aliceblue;
  }


.tab-pane.fade {
	transition: all 0.2s;
	transform: translateY(1rem);
  }
  
#map {
	width: 400px;
	height: 400px;
	border-radius: 10px;
}

.custom-navbar {
	color: #4C566A;
}

.custom-icon {
	color: #363d4e;
}

.text-custom {
	color: #363d4e
}

.btn-outline-secondary:hover{
	background-color: #363d4e;
	color: whitesmoke;
	border-color: #4C566A;
}

.btn-outline-secondary {
	color: #363d4e;
	border-color: #4C566A;
}

.home__blob-img {
	width: 100px;
}

.home__blob {
	width: 650px;
	height: 650px;
	fill: #F8F8FF
}